<% include partials/header %>

<div class="title"><img src="logo.png"></div>

<div class="container">
    <div><img src="blue_fractals.png"></div>
    <div><img src="canvas.png"></div>
    <div><img src="classic.png"></div>
    <div><img src="face.png"></div>
    <div><img src="graffiti.png"></div>
    <div><img src="paint_pad.png"></div>
</div>
<% include partials/footer %>
