<!-- DOCTYPE -->
<!DOCTYPE html>
	<head>
		<title>Artsthetic</title>
		<link rel="stylesheet" type="text/css" href="app.css">
		<link href="https://fonts.googleapis.com/css?family=Livvic|Raleway:100,400&display=swap" rel="stylesheet">
	</head>
	<body>
	<ul class="navbar">
		<li class="home">Home</li>
		<li class="news">News</li>
		<li class="contact">Contact</li>
		<li class="about">About</li>
		<span class="account">
			<li class="login">Login</li>
			<li class="signUp">Sign Up</li>
		</span>
	</ul>